.vscode

a.out
*.o

# Tutorials
#D01
Tutorials/D01/filestreams/test.out
Tutorials/D01/filestreams/numbers

# Executables
#Module00
megaphone
phonebook
globalbanksters
logfile2.log

#Module01
brainz
human
replace
Modules/01/ex04/hello.txt
karen
karenFilter

#Module02
fixed
bsp

#Module03
claptrap
scavtrap
fragtrap
diamondtrap

#Module04
poly
abstract
interface

#Module05
bureaucrat
*_shrubbery

#Module06
convert
data
base

#Module07
whatever
iter
